
    body{
        margin: 50px;
        background-color: #202327;
        font-family: 'FreeMono', monospace;
        color:#eaebec;
        font-size: 30px;
    }
    #container{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;

    }
    .content_img{
    top: 50%;
    left: 50%;
    max-width: 480px;
    width: 100%;
    height: auto;
    transform: translate(-60%, 20%);
    display: block; 



    }
     .content_txt{
    top: 50%;
    left: 50%;
    max-width: 480px;
    width: 100%;
    height: auto;
    transform: translate(-50%, 10%);
    display: block; 
    color:#eaebec;
    font-size:  150%;
    pading: 100px;
 line-height: 160px; 

    }

         .content_txt2{
    top: 50%;
    left: 50%;
    max-width: 480px;
    width: 100%;
    height: auto;
    transform: translate(-70%, 100%);
    display: block; 
    color:#eaebec;
    font-size:  50%;
    pading: 100px;
 

    }

        }


    }




